.auth {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    animation: slide-down 0.5s ease;
  }

  .form {
    width: 40rem;

    padding: 1.5rem;
    animation: slide-up 0.5s ease;

    h2 {
      text-align: center;
    }

    .errorMessage {
      color: #ff0000;
    }

    .email,
    .name,
    .confirmPassword {
      display: flex;
      margin-bottom: -10px;
    }

    .TfiEmail,
    .MdPermIdentity {
      position: absolute;
      margin: 23px 10px;
      color: #777;
    }

    .RiLockPasswordLine,
    .LuRepeat1 {
      position: absolute;
      margin: 11px 8px;
      color: #777;
    }

    form {
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
        text-indent: 30px;

        &:focus {
          border: 1px solid rgb(23, 185, 197);
        }
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      p {
        text-align: center;
        margin: 1rem;
      }
    }

    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      &:hover {
        .registerLink {
          color: var(--primary-button);
        }
      }
    }
  }

  // Password Visibility Toggle
  .password {
    position: relative;

    .icon {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      cursor: pointer;
    }
  }

  .hide-indicator {
    display: none;
  }

  .show-indicator {
    display: block;
    animation: slide-up 0.5s ease;
  }

  .green {
    color: green;
  }
  .red {
    color: red;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 800px) {
  form {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  form {
    width: 100%;
  }

  .img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  form,
  h2,
  .register {
    width: 90%;
  }

  .img {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  .img {
    display: none;
  }
}
